.about-section {
  background: url('/assets/about-background.jpg') no-repeat;
  background-size: cover;
  min-height: 50vh;
  padding-top: 150px;
}
.meet-the-people {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.header-section {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.event-card {
	display: flex;
	flex-direction: column;
  background-color: rgba(255, 255, 255, .9);
  border: 1px solid #FFF;
  margin: 40px 10px;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  width: 305px;
  padding: 20px;
}

.flex-card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.event-card-image > img {
  height: 250px;
  width: 270px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.event-card-content {
	display:flex;
	flex:1;
	flex-direction:column;
  margin: 10px 0px 10px 0px;
  max-width: 400px;
}

@media only screen and (max-width: 1000px) {
  .h1-media-query {
    font-size: 4.0rem;
  }
  .h2-media-query {
    font-size: 1.9rem;
  }
}
@media only screen and (max-width: 760px) {
  .h1-media-query {
    font-size: 3.0rem;
  }
  .h2-media-query {
    font-size: 1.3rem;
  }
}
