.event_section {
  background: url('/assets/about.jpg') no-repeat;
  background-size: cover;
  background-position: center top;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 100px;
}

.flex-card-heading > h3 {
  margin: 10px 0px 10px 15px;
}

.event-card {
	display: flex;
	flex-direction: column;
  background-color: rgba(255, 255, 255, .9);
  border: 1px solid #FFF;
  margin: 40px 10px;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  min-width: 300px;
  padding: 20px;
}

.flex-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.flex-card-image > img {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.flex-card-content {
  font-size: 95%;
	display:flex;
	flex:1 0 auto;
	flex-direction:column;
  margin: 10px 0px 10px 0px;
  max-width: 400px;
}
