.homeCard {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-card {
	display:flex;
	flex-direction:column;
  background-color: white;
  margin: 20px 0px;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  height: 400px;
}

.flex-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.flex-card-image > img {
    height: 250px;
    width: 400px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.flex-card-content {
	display:flex;
	flex: 1;
	flex-direction:column;
  margin: 10px 0px 10px 0px;
  max-width: 400px;
}

.flex-card-link {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 0px 0px;
}

.flex-card-link a {
  color: #6918b4;
  font-weight: bold;
  text-decoration: none;
}

.flex-card-heading {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5px 8px 15px 8px;
  max-width: 400px;
}
