.homeCard {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-card {
	display:flex;
	flex-direction:column;
  background-color: white;
  margin: 20px 0px;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  height: 400px;
}

.flex-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.flex-card-image > img {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.flex-card-content {
	display:flex;
	flex:1 0 auto;
	flex-direction:column;
  margin: 10px 0px 10px 0px;
  max-width: 400px;
}
.flex-card-content p {
	flex:1 0 auto;
}

.flex-card-link {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 0px 0px;
}

.flex-card-link a {
  color: #C2A5C9;   /* #932f81*/
  text-decoration: none;
}
