* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  image-rendering: crisp-edges;
}

html {
  font-family: 'Rubik', sans-serif;
  color: #2D2D2D;
}
