/*
 *= require font-awesome
 */
/*-------------------------------------------------------------------- RESETS ---- */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  image-rendering: crisp-edges;
}


/*General Universal Selectors */

html {
  font-family: 'Nunito', sans-serif;
  color: #2D2D2D;
}

button {
    background-color: #ecf0f1;
    border: none;
    border-radius: 5px;
    color: #2D2D2D;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
  background-color: #2D2D2D;
  color: #ecf0f1;
}


input {
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 5px;
  text-decoration: none;
  text-align: left;
}

input:focus {
  outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

h1 {
  font-family: 'Lobster', cursive;
  letter-spacing: 2px;
  font-size: 5.5rem;
  color: white;
}

h2 {
  font-size: 2.5rem;
  line-height: 120%;
  padding-bottom: .5em;
}

h3 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #C2A5C9;
}

/*Rails View Page Universal Styles*/

.actions input {
  color: #2D2D2D;
  background-color: #ecf0f1;
  padding: 5px 10px;
}

.actions input:hover {
  background-color: #2D2D2D;
  color: #ecf0f1;
}

.field {
  padding-top: 5px;
  padding-bottom: 5px;
}
