.event-body {
  color: white;
  background-color: #000000;
}

.event-title-search {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url('/assets/events-info-header.png') no-repeat;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin-bottom: 20px;
}

.event-title-search input {
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: 400px;
}

.event-background {
  background-color: rgba(0, 0, 0, 0.3);
}

.event-title-search button {
  padding: 5px;
  border-radius: 5px;
}

.events-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.events-list li {
  margin: 5px;
  padding: 30px 10px;
  border: 1px solid #ffffff;
  width: 40%;
  text-align: center;
  list-style-type: none;
}

.events-list li div {
  margin: 5px;
}

/* events modal */


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
