.event_body {
  color: #ffffff;
  background-color: #000000;
}

.event-title-search {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url('/assets/events-info-header.png') no-repeat;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin-bottom: 20px;
}

.event-title-search input {
  font-size: 1em;
  width: 400px;
}

.events-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.event-list-border {
  margin: 5px;
  padding: 30px 10px;
  border: 1px solid #ffffff;
  width: 40%;
  text-align: center;
  list-style-type: none;
  min-width: 370px;
}

.event-list-border div {
  margin: 5px;
}

/* events modal */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

@media only screen and (max-width: 1000px) {
  .h1-media-query {
    font-size: 4.0rem;
  }
  .h2-media-query {
    font-size: 1.9rem;
  }
  .event-search-bar {
    font-size: 1em;
  }
  .event-title-search input {
    width: 200px;
  }
}
@media only screen and (max-width: 760px) {
  .h1-media-query {
    font-size: 3.0rem;
  }
  .h2-media-query {
    font-size: 1.3rem;
  }
  .event-search-bar {
    font-size: .7em;
  }
  .event-title-search input {
    width: 250px;
  }
  .event-list-border {
    color: #ffffff;
  }
  .event-list-buttons {
    font-size: .9rem;
  }
}
