footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #2D2D2D;
  color: white;
  padding: 20px;
  width: 100%;
  max-height: 100vh;
}

footer a {
  color: white;
}

footer a:hover{
  color: #C2A5C9;
}

footer img {
  width: 40px;
  height: 40px;
  margin: 5px;
}

footer div {
  padding: 5px;
}
