.forgot-password-container {
  padding-top: 300px;
  background-image: url(/assets/forgot-password.jpg);
  background-repeat: no-repeat;
  background-position: 0px -150px;
  background-image: no-repeat;
  background-size: cover;
  min-height: 90vh;
  min-width: 100vw;
  color: white;
  padding-bottom: 300px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.forgot-password-section {
  text-align: center;
  background-color: #2D2D2D;
  border-radius: 5px;
  width: 400px;
  padding: 10px;
}
