.forgot-password-container {
  padding: 150px 610px 300px 0px;
  background-image: url(/assets/forgot-password.jpg);
  background-repeat: no-repeat;
  background-position: 0px -150px;
  background-image: no-repeat;
  background-size: cover;
  min-height: 90vh;
  min-width: 100vw;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.forgot-password-section {
  text-align: center;
  background-color: rgba(45,45,45, .2);
  border-radius: 5px;
  width: 400px;
  padding: 10px;
}

.field {
  padding-bottom: 20px !important;
}

.actions {
  padding: 5px;
}

.login_links {
  padding: 6px !important;
}
