.home-top-section {
  color: white;
  font-size: 50px;
  background: linear-gradient(25deg, rgba(126, 161, 214, .6), rgba(208, 69, 240, .6)), url('/assets/home-background.png') no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  padding-top: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-header {
  margin-bottom: 20px;
}
.home-search-bar {
  background-image: url(https://image.ibb.co/mQSo16/search_icon_hi.png);
  background-repeat: no-repeat;
  background-position: 368px;
  background-size: 21px 21px;
  width: 400px;
  font-size: .4em;
  padding: 7px;
  color: white;
  background-color: #5b5b62;
  border: 3px solid #47474f;
}

.home-search-bar::placeholder {
  color: #bdc3c7;
}

.home-cards-section {
    padding: 40px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.fade-text {
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
.home-search-button {
  padding: 15px 10px;
  margin-top: 15px;
  font-size: 50%;
}

/*HOME MEDIA QUERIES*/
@media only screen and (max-width: 1000px) {
  .h1-media-query {
    font-size: 5.0rem;
  }

  .h2-media-query {
    font-size: 1.9rem;
  }
  .home-search-bar {
    width: 50%;
    font-size: .4em;
    padding: 10px;
    text-align: center;
  }
}
@media only screen and (max-width: 760px) {
  .h1-media-query {
    font-size: 3.5rem;
  }

  .h2-media-query {
    font-size: 1.3rem;
  }
  .home-search-bar {
    width: 60%;
    font-size: .3em;
    padding: 10px;
    text-align: center;
  }
  .home-search-button {
    padding: 10px 15px;
    margin-top: 10px;
    font-size: 30%;x
  }
}
