.home-top-section {
  color: white;
  font-size: 50px;
  background: linear-gradient(25deg, rgba(126, 161, 214, .6), rgba(208, 69, 240, .6)), url('/assets/home-background.png') no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  padding-top: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-header {
  margin-bottom: 20px;
}
.home-search-bar {
  width: 350px;
  font-size: .4em;
  padding: 7px;
  color: #333333;
  background-color: white;
  border-left: 3px solid #707070;
  border-bottom: 3px solid #707070;
  border-top: 3px solid #707070;
  border-radius: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.home-search-bar::placeholder {
  color: #bdc3c7;
}

.home-search-events-button {
  position: relative;
  bottom: 1px;
  background-color: white;
  border-right: 3px solid #707070;
  border-bottom: 3px solid #707070;
  border-top: 3px solid #707070;
  padding: 9px;
  padding-top: 10px;
  border-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.home-cards-section {
    padding: 40px;
}

.fa-search{
  color: #707070;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.fade-text {
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

/*HOME MEDIA QUERIES*/
@media only screen and (max-width: 1000px) {
  .h1-media-query {
    font-size: 5.0rem;
  }

  .h2-media-query {
    font-size: 1.9rem;
  }
  .home-search-bar {
    width: 50%;
    font-size: .4em;
    padding: 10px;
  }
  .home-search-events-button {
    padding: 12px;
    padding-top: 13px;
  }
}
@media only screen and (max-width: 760px) {
  .h1-media-query {
    font-size: 3.8rem;
  }

  .h2-media-query {
    font-size: 1.7rem;
  }
  .home-search-bar {
    width: 60%;
    font-size: .3em;
    padding: 10px;
  }
  .home-search-events-button {
    padding: 11px;
    padding-top: 8px;
  }
}
