#login_background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75vh;
  color: white;
}

.login_container {
  position: relative;
  margin: 0 auto;
  background: #ecf0f1;
  width: 350px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px #333;
  padding: 15px;
  background-color: #242424;
}

.login_page {
 text-align: center;
 background: linear-gradient(25deg, rgba(24, 24, 24, .4), rgba(24, 24, 24, .4)), url('/assets/login-page.jpg') no-repeat;
 background-repeat: no-repeat;
 background-size: cover;
 color: black;
}

.login-username input {
  margin: auto;
  width: 200px;
  display: block;
  margin-top: 5px;
}

.login-password input {
  margin: auto;
  width: 200px;
  display: block;
  margin-top: 5px;
}

.login-submit {
  margin-top: 5px;
}

.login-submit input:hover {
  color: #ecf0f1;
  background-color: #2D2D2D;
}

.login-remember-me {
  margin-top: 5px;
}

.login-password {
  margin-top: 5px;
}
