header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  padding: 20px;
  background-color: transparent;
  border-bottom: 1px solid white;
  position: absolute;
  z-index: 99;
  min-width: 100%;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
header li {
  float: left;
  font-size: 20px;
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
}

header li a {
  color: #FFFFFF;
  text-decoration: none;
}

header li a:hover {
  color: #2D2D2D;
}

header button {
  font-family: 'Rubik', sans-serif;
  background-color: transparent;
  border: none;
  font-size: 20px;
}

header button a {
  color: white;
  text-decoration: none;
}

header button a:hover {
  color: #2D2D2D;
}

#signup {
  border: 3px solid #ecF0F1;
  padding: 5px 15px;
  margin-top: -8px;
  border-radius: 5px;
}

/* Media Queries */

@media screen and (min-width: 600px) {

}
