.navBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px;
  background-color: transparent;
  position: absolute;
  z-index: 99;
  min-width: 100%;
}

.navBar ul {
  list-style-type: none;
}

.navBar li {
  float: left;
  font-size: 20px;
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
}

.navBar li a {
  color: #FFFFFF;
  text-decoration: none;
}

.navBar li a:hover {
  color: #2D2D2D;
}

.navBar button {
  font-family: 'Rubik', sans-serif;
  background-color: transparent;
  border: none;
  font-size: 20px;
}

.navBar button a {
  color: white;
  text-decoration: none;
}

.navBar button a:hover {
  color: #2D2D2D;
}

.nav-button {
  list-style-type: none;
}

#signup {
  border: 3px solid #ecF0F1;
  padding: 5px 15px;
  margin-top: -8px;
  border-radius: 5px;
}

.label {
  position: absolute;
  margin: 0 40px 0 0;
  font-size: 30px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
  color: white;
}

#toggle {
  display: none;
}

/* @media only screen and (max-width: 760px) {
 .label {
    display: block;
    cursor: pointer;
  }

  .menu {
    text-align: center;
    display: none;
  }

  .menu ul {
    clear: both;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu li a {
    text-align: center;
    color: #fff;
  }

  #signup {
    border: none;
    padding: 5px 15px;
    margin-top: -8px;
    border-radius: 5px;
  }

  #toggle:checked + .menu {
    display: block;
  }

} */
