header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  padding: 20px;
  background-color: transparent;
  position: absolute;
  z-index: 99;
  min-width: 100%;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
header li {
  float: left;
  font-size: 20px;
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
}

header li a {
  color: #FFFFFF;
  text-decoration: none;
}

header li a:hover {
  color: #2D2D2D;
}

header button {
  font-family: 'Rubik', sans-serif;
  background-color: transparent;
  border: none;
  font-size: 20px;
}

header button a {
  color: white;
  text-decoration: none;
}

header button a:hover {
  color: #2D2D2D;
}

#signup {
  border: 3px solid #ecF0F1;
  padding: 5px 15px;
  margin-top: -8px;
  border-radius: 5px;
}

.nav-button {
    margin-bottom: 1px;
}

.nav-button a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.nav-button a:hover {
  color: #2D2D2D;
}


.label {
  margin: 0 40px 0 0;
  font-size: 30px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
  color: white;
}

#toggle {
  display: none;
}

@media only screen and (max-width: 760px) {
 .label {
    padding: 3px 7px;
    display: block;
    cursor: pointer;
  }

  nav {
    background-color: #2D2D2D;
  }

  .menu {
    text-align: center;
    display: none;
  }

  .menu ul {
    clear: right;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu li a {
    text-align: center;
    color: #fff;
  }

  #signup {
    border: none;
    padding: 5px 15px;
    margin-top: -8px;
    border-radius: 5px;
  }

  #toggle:checked + .menu {
    display: block;
  }

}
