.profile_main {
  background: url('/assets/smoke.jpg') no-repeat;
  background-size: cover;
  padding-top: 150px;
  min-height: 100vh;
  text-align: center;
  color: white;
}

.top {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.profile_image {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.profile_info {
  display: flex;
  flex-direction: column;
  margin: 0px 50px;
  font-size: 20px;
  color: white;
  padding: 10px;
  max-width: 400px;
  text-align: left;
}

.profile-buttons {
  border-radius: 5px;
  color: #2D2D2D;
  background-color: #ecf0f1;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.profile-buttons a {
  text-decoration: none;
}

.profile-buttons:hover {
  background-color: #2D2D2D;
  color: #ecf0f1 !important;
}

.edit_button {
  padding: 5px 10px;
  display: inline-block;
  margin-top: 10px;
  width: 100px;
}

.find_shows_button{
  padding: 40px;
}

.saved_events {
  min-width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.event_info {
  padding: 20px;
}

.saved_events {
  min-width: 50vw;
}
