.signup-page {
  padding-top: 100px;
  background-image: url(/assets/sign-up.png);
  background-image: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  color: white;
  padding-bottom: 50px;
}

.form-section {
  background-color: rgba(0,0,0,.6);
  position: absolute;
  left: 9%;
  top: 15%;
  border-radius: 5px;
  margin: auto;
  width: 350px;
  padding: 20px;
}
.field {
  padding-top: 5px;
}
