.terms {

    padding: 80px 80px 420px 80px;
    background-image: url(/assets/terms.jpg);
    background-repeat: no-repeat;
    background-position: 0px -150px;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top_headers {
  text-align: center;
}
