.update_profile {
  background: url('/assets/yellow_smoke.jpg') no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-top: 50px;
}

.update_title {
  text-align: center;
  color: white;
  padding-bottom: 25px;
  margin: 70px 0px 30px 0px;
}

.update_form {
  position: relative;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
  width: 350px;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
}

.update_form input {
    margin: 6px;
    color: white;
    background-color: rgba(0, 0, 0, .2);
    border: 1px solid white;
    width: 300px;
    font-size: 16px;
    border-radius: 5px;
}
.update_form input::placeholder {
  color: white;
}

.submit:hover{
    background-color: #ecf0f1;
    color: #2D2D2D;
}

.image_file {
  text-align:
}
