.update_profile {
  background-color: #96BDBF;
}

.update_form {
  display: flex;
  flex-flow: column nowrap;
}

.update_form input {
    margin: 6px;
    color: white;
    background-color: rgb(107,161,164);
}
.update_form input::placeholder {
  color: white;
}
