<!DOCTYPE html>
<html>
  <head>
    <header>
      <% if user_signed_in? %>
          <%= react_component("Header") %>
          <button>
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
          </button>
      <% else %>
        <%= react_component("SignedIn") %>
      <% end %>
    </header>
  </head>
  <body class="profile">
    <h1>Welcome</h1>

     <%= current_user.username %>

    <form class="edit" action="profile/update" method="get">
      <input type="submit" value="Edit Profile">
    </form>

  </body>
</html>
