<h1>Events</h1>
<form action="/events" method="get">
  <input id="term" type="text" name="keyword_search" placeholder="Search"/>
  <button onclick="updateSearch()" type="submit">Submit</button>
</form>

<%= react_component('Events', events: @events) %>
