<!DOCTYPE html>
<html>
  <div id="full_page">
    <header>
      <% if user_signed_in? %>
          <%= react_component("Header") %>
          <button class="nav-button">
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
          </button>
      <% else %>
        <%= react_component("SignedIn") %>
      <% end %>
    </header>
    <body>
      <%= react_component("Home", events: @events) %>
    </body>
  </div>
</html>
